# Byte-compiled / optimized / DLL files
__pycache__/
__init__.py
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
*.egg-info/
.dist/
build/
dist/

# Virtual environments
.venv/
venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# Local data
.env

# IDE
.vscode/
.history/